/* Importação da fonte usadas no site */

@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Edição geral para todos os itens do site */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

/* Cor padrçao usada no site */

:root {
  --background: #00549c;
}

/* Edições gerais e padrões do site */

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;
}

h2.title {
  color: var(--background);
  margin-bottom: 15px;
  font-family: "Labrada", sans-serif;
  letter-spacing: 1px;
}

article article {
  margin-top: 50px;
}

p p {
  margin-top: 10px;
}

.button {
  background-color: var(--background);
  color: #fff;
  padding: 10px 20px;
  min-width: 130px;
  max-width: 150px;
}

.button a {
  color: #fff;
  margin: auto;
}

button a:hover{
  background-color: #000;
  color: #00f;
}

#button{
  background-color: var(--background);
  color: #fff;
  padding: 10px 20px;
  min-width: 130px;
  max-width: 150px;
  cursor: pointer;
}

/* Espaçamento do container de contato */
#contato{
  margin-top: 50px;
}

#button:hover{
  background-color: #000;
  color: #00f;
}

/* Justificando pagrágrafos */

p {
  text-align: justify;
}

/* Configurando o Footer sobre a autoria do desenvolvimento */

footer{
  padding: 20px;
  margin-top: 5px;
  margin-left: 200px;
  text-decoration: solid;
  text-align: center;
  font-family: Labrada, sans-serif;
  font-weight: bold;
  font-family: Labrada, sans-serif;
  background-color: #ccc;
}

