/* Baner do Header site */

.banner {
  height: 250px;
  object-fit: cover;
}

/* Configurando ID: "Nossos Doces" */
#nossosDoces{
  padding: 30px;
  font-family: Labrada, sans-serif;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
  color: var(--background);
}



/* Container Main */

main {
  padding-left: 230px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 200px;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  main {
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

/* Article Bem-Vindo */

main #inicio .img {
  width: 175px;
  max-width: 100%;
  flex-shrink: 0;
}

main #inicio .img img {
  height: 100%;
}

main #inicio .content {
  display: flex;
  gap: 35px;
  align-items: stretch;
}

main #inicio .text button {
  display: flex;
  margin-top: 15px;
}

@media (max-width: 700px) {
  main #inicio .img {
    display: none;
  }
  main #inicio .text button {
    display: flex;
    margin: 15px auto 0 auto;
  }
}

/* Article Sobre */

main #sobre .content {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

main #sobre .content .img img {
  height: 100%;
}

main #sobre{
  margin-top: 100px;
}

/* Article Tipos de Doces */

main .tipoDoces .title {
  text-transform: uppercase;
}

main .tipoDoces .imgs {
  display: flex;
  gap: 20px;
  align-content: stretch;
}

main .tipoDoces .imgs .img {
  height: 100px;
  width: 100%;
}

main .tipoDoces .imgs .img img {
  height: 100%;
  width: 100%;
}

/* Article Contato */

main #contato form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  gap: 20px;
}

main #contato{
  margin-top: 100px;
}

main #contato form input,
main #contato form textarea {
  border: 2px solid var(--background);
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 800px) {
  main #contato form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 20px;
  }
}

@media (max-width: 900px) {
  main #sobre .content {
    flex-direction: column;
  }
  main #sobre .content .img img {
    height: 200px;
    max-height: 100%;
  }
}

@media (max-width: 600px) {
  main .tipoDoces .imgs {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .tipoDoces .imgs .img {
    height: 125px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  main .tipoDoces .imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}