<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Link CSS -->
        <link rel="stylesheet" href="../styles/docesEspeciais.css">

        <!-- Link Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link rel="shortcut icon" href="../imgs/stand.png" type="image/png">

        <title>Bolo de cenoura</title>


    </head>
    <body>
        
        <!-- Bolo de cenoura com cobertura de cream cheese e nozes-->
        <header>
            <div>
                <img src="../imgs/boloCenoura.jpg" id="imgBolo" alt="Bolo de Cenoura com Creamcheese e Nozes." class="img-fluid"/>
            </div>
        </header>

        <section>
            <div>
                <h1 class="title1">Bolo de cenoura com cobertura de cream cheese e nozes</h1>
            </div>

            <div>
                <h2 class="title2 .te">Ingredientes:</h2>
                <ol class="listaIngredientes">
                    <li>3 cenouras médias raladas</li>
                    <li>2 xícaras de açúcar</li>
                    <li>1 xícara de óleo vegetal</li>
                    <li>4 ovos</li>
                    <li>2 xícaras de farinha de trigo</li>
                    <li>2 colheres de chá de fermento em pó</li>
                    <li>1 colher de chá de bicarbonato de sódio</li>
                    <li>1 colher de chá de canela em pó</li>
                    <li>1/2 colher de chá de sal</li>
                    <li>1 pacote de cream cheese em temperatura ambiente</li>
                    <li>1/2 xícara de manteiga em temperatura ambiente</li>
                    <li>2 xícaras de açúcar de confeiteiro</li>
                    <li>1 colher de chá de essência de baunilha</li>
                    <li>1/2 xícara de nozes picadas</li>
                </ol>
            </div>
            <div>
                <h1 class="title3">Modo de preparo</h1>                
            </div>
            <div>
                <ol class="modoPreparo">
                    <li>
                        Pré-aqueça o forno a 180°C. Unte uma forma de bolo com óleo e farinha de trigo.
                    </li>
                    <li>
                        Em uma tigela grande, misture as cenouras raladas, o açúcar, o óleo e os ovos. Misture bem.
                    </li>
                    <li>Adicione a farinha de trigo, o fermento em pó, o bicarbonato de sódio, a canela e o sal. Misture bem até obter uma massa homogênea.

                    </li>
                    <li>
                        Despeje a massa na forma untada e leve ao forno por cerca de 45 minutos, ou até que um paolto inserido no centro do bolo saia olmpo.</li>
                    <li>
                        Enquanto o bolo assa, prepare a cobertura: Em uma tigela, bata o cream cheese e a manteiga até obter uma mistura cremosa. Adicione o açúcar de confeiteiro e a essência de baunilha e bata novamente.
                    </li>
                    <li>
                        Quando o bolo estiver pronto, retire do forno e deixe esfriar completamente. Em seguida, cubra com a cobertura de cream cheese e salpique as nozes picadas por cima.
                    </li>
                                      
                </ol>

                <div>
                    <h2 class="title4">
                        Sirva o bolo em fatias e aproveite!
                    </h2>
                </div>
            </div>
        </section>
        
            <!-- Link Bootstrap-->
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    </body>

    <footer id='autoria' class='autoria'>
        Desenvolvido por Gustavo Borges Koglin &copy; 2023
    </footer>
    

</html>