<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/saibaMaisButton.css">
        <title>Saiba Mais - Doceria G&P</title>
    </head>
    <body>

        <header>
            <div>
                <img id="img" src="../imgs/stand.png" alt="Logo Doceria G&P" class=/>
            </div>
        </header>

        <section>
            
            <div id="paragrafo" class="con">
                <p>
              A Doceria é um negócio familiar que se dedica à produção de doces, bolos e outras delícias. Localizada no coração da cidade, a Doceria é conhecida por seus produtos de qualidade, atendimento personalizado e ambiente aconchegante.
              </p> 
              <p>
              A história da Doceria começou quando as irmãs Gabriela e Paula decidiram abrir um pequeno negócio em sua casa, oferecendo bolos e doces caseiros para amigos e familiares. Com o passar do tempo, a demanda cresceu e elas decidiram abrir uma loja própria.
              </p>
              <p>
              A primeira loja da Doceria foi inaugurada em um bairro residencial, mas logo se tornou um sucesso entre os moradores da região. Com o aumento da clientela, as irmãs mudaram-se para um espaço maior e mais bem localizado.
              </p>
              <p>
              Desde então, estamos expandido nossa empresa continuamente, abrindo novas lojas em diferentes bairros da cidade e aumentando sua oferta de produtos. Hoje, a empresa oferece uma ampla variedade de bolos, doces, salgados e bebidas, além de fornecer serviços de catering para eventos e festas. 
              </p>
              <p>
              A qualidade dos produtos da Doceria  é um dos seus maiores atrativos. Todas as receitas são criadas com ingredientes de alta qualidade e com muito cuidado e atenção aos detalhes. Além disso, a empresa está sempre inovando e criando novos sabores e combinações.
              </p>
              <p>
              A Doceria também é conhecida por seu excelente atendimento ao cliente. Os funcionários são treinados para oferecer um serviço amigável e atencioso, e estão sempre prontos para ajudar os clientes a escolherem os melhores produtos para suas necessidades.
              </p>
              <p>
              A empresa também é comprometida com a sustentabilidade e a responsabilidade social. A Doceria utiliza ingredientes orgânicos sempre que possível e adota práticas de produção e embalagem sustentáveis para minimizar seu impacto ambiental.
              </p>
              <p>
              Ao longo dos anos, a Doceria conquistou diversos prêmios e reconhecimentos por sua excelência em confeitaria e serviços. A empresa é uma referência no setor e é frequentemente citada em publicações especializadas e em reportagens na mídia.
              </p>
              <p>
              A Doceria tem uma forte presença nas redes sociais, onde compartilha fotos e informações sobre seus produtos e eventos. Os clientes podem acompanhar as novidades da empresa e se manter informados sobre promoções e ofertas especiais.
              </p>
              <p>
              A Doceria é um negócio familiar que se orgulha de sua tradição e história. As irmãs Gabriela e Paula ainda estão envolvidas no negócio e trabalham todos os dias para garantir que seus clientes recebam os melhores produtos e serviços.
              </p>
              <p>
              A empresa tem uma equipe de funcionários dedicados e talentosos, que são treinados para seguir os altos padrões de qualidade e atendimento ao cliente da Doceria, que também é um local de encontro popular para famílias, amigos e casais, oferecendo um ambiente acolhedor e aconchegante para desfrutar de doces e salgados deliciosos, sendo também é um destino frequente para eventos corporativos, festas de aniversário e casamentos. A Doceria oferece serviços de catering personalizados para atender às necessidades de seus clientes.
              </p>
            </div>
        </section>
        <footer id='autoria' class='autoria'>
            Desenvolvido por Gustavo Borges Koglin &copy; 2023
        </footer>

    </body>
</html>